@page "/login"

<div class="uk-card uk-width-1-3 uk-card-default">
    <div class="uk-card-header ">
        <h3 class="uk-card-title uk-margin-remove-bottom">ログイン</h3>

    </div>
    <div class="uk-card-body uk-padding-remove-bottom">

        <form>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-width-medium" type="text" id="userid" placeholder="ユーザーIDを入力">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input uk-form-width-medium" type="text" id="password" placeholder="パスワードを入力">
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary">ログイン</button>
            </div>


        </form>
    </div>
    <div class="uk-card-footer">
        <button class="uk-button uk-button-default">新規登録</button>

    </div>
</div>



@code {

}
