@inherits LayoutComponentBase

<div class="page">
        <NavMenu />

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="uk-container">
            @Body
        </div>
    </main>
</div>
