<div class="uk-box-shadow-medium uk-width-1-6@s uk-visible@m uk-container">
    <ul class="uk-nav uk-nav-default">
        <li class="uk-active uk-margin-bottom">
            <NavLink class="uk-logo" href="" Match="NavLinkMatch.All">SkillMer</NavLink>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-active uk-margin-bottom">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span uk-icon="icon: home" aria-hidden="true"></span> ホーム
            </NavLink>
        </li>
        <li class="uk-margin-bottom">
            <NavLink class="nav-link" href="search" Match="NavLinkMatch.All">
                <span uk-icon="icon: search" aria-hidden="true"></span> 検索
            </NavLink>
        </li>
        <li class="uk-margin-bottom">
            <NavLink class="nav-link" href="notification" Match="NavLinkMatch.All">
                <span uk-icon="icon: bell" aria-hidden="true"></span> 通知
            </NavLink>
        </li>
        <li class="uk-margin-bottom">
            <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                <span uk-icon="icon: user" aria-hidden="true"></span> プロフィール
            </NavLink>
        </li>
        <li class="uk-margin-bottom">
            <NavLink class="nav-link" href="setting" Match="NavLinkMatch.All">
                <span uk-icon="icon: cog" aria-hidden="true"></span> 設定
            </NavLink>
        </li>
    </ul>
</div>